@import "Theme.css";

/* AddSetPage */
#add-set-page form {
  max-width: 400px;
  display: block;
  margin: auto;
  margin-top: 80px;
}

#add-set-page label {
  color: var(--pw-white);
}

#add-set-page input {
  width: 100%;
  display: block;
  border: none;
}

#add-set-page button {
  width: 100%;
  height: 40px;
}

#add-set-success-message {
  margin-top: 20px;
}
