#call-to-action-text-form {
  display: block;
  width: 400px;
  margin: auto;
}

#call-to-action-text-form p {
  font-family: 'Rajdhani';
  text-transform: uppercase;
  margin: 20px 0px 40px 0px;
}

#call-to-action-text-form button {
  background: none;
  font-family: 'Rajdhani';
  font-size: 16px;
  color: #ededed;
  border: none;
  text-transform: uppercase;
}

#call-to-action-text-form button:hover {
  border-bottom: 1px #ededed solid;
}

#call-to-action-text-form input {
  padding-left: 10px;
}

#call-to-action-text-form input::placeholder {
  height: 30px;
  font-size: 12px;
  color: #ededed;
}
