.delete-button {
  padding: 5px;
  background: #e75e26;
  margin-left: 5px;
  transition: fill .7s, background-color .3s;
  cursor: pointer;
}

.delete-button:hover {
  background: #111111;
}

.path {
  transition: fill
}
