.edit-event-link {
  position: relative;
  display: block;
  text-align: center;
  height: 50px;
  margin: 10px auto;
  font-size: 28px;
  font-family: 'Rajdhani';
  text-transform: uppercase;
  color: #ededed;
  font-weight: 600;
  cursor: pointer;
}
