#edit-event-list {
  margin-top: 140px;
  color: #ededed;
}

#edit-event-list h2 {
  font-family: 'Oswald';
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

#edit-event-list table {
  margin: auto;
}

#edit-event-list td {
  font-family: 'Oswald';
  font-size: 24px;
  padding: 20px;
}

.edit-event-list-name {
  text-transform: uppercase;
}

.edit-event-list-button {
  margin-left: 5px;
  cursor: pointer;
  background: #e75e26;
}

@media (max-width: 500px) {
  #edit-event-list h2 {
    font-size: 18px;
  }

  #edit-event-list td {
    font-size: 16px;
  }
}
