.edit-button {
  height: 40px;
  width: 40px;
  padding: 5px;
  background: #e75e26;
  margin-left: 5px;
  transition: fill .7s, background-color .3s;
  cursor: pointer;
}

.edit-button:hover {
  background: #111111;
}

.path {
  transition: fill
}

@media (max-width: 500px) {
  .edit-button {
    height: 20px;
    width: 20px;
  }
}
