@import 'Theme.css';

/* FeaturedEvents */
#featured-events {
  background: var(--pw-black);
  overflow: hidden;
}

#featured-events-title {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  #featured-events-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
  }
}

#featured-events-container {
  background: var(--pw-black);
}

#featured-events-view-all-link {
  display: block;
  width: 280px;
  text-align: center;
  font-size: 36px;
  text-decoration: none;
  margin: 0px auto 80px auto;
  color: var(--pw-white);
}

#featured-events-view-all-link:hover {
  color: var(--pw-orange);
}
