.featured-event-module {
  display: block;
  width: 600px;
  margin: 80px auto;
}

.featured-event-module img {
  width: 100%;
  height: 300px;
}

.featured-event-module h3 {
  color: #ededed;
  font-family: 'Oswald';
}

.featured-event-module h2 {
  font-family: 'Oswald';
  text-transform: uppercase;
}

.featured-event-module button {
  width: 100%;
  margin-top: 20px;
}
