@import 'Theme.css';

/* Index */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--pw-font-primary);
  font-size: var(--pw-font-size-jumbo);
  font-weight: 600;
  color: var(--pw-white);
  letter-spacing: -4px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: var(--pw-font-primary);
  font-size: var(--pw-font-size-primary);
  color: var(--pw-white);
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
}

h4 {
  font-family: var(--pw-font-primary);
  color: var(--pw-white);
}

p {
  font-family: var(--pw-font-tertiary);
  color: var(--pw-white);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
