@import "Theme.css";

#main-menu {
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
}

#main-menu h1 {
  text-align: center;
}

#main-menu ul {
  max-width: 400px;
  margin: auto;
}

#main-menu a {
  border: none;
  height: 50px;
  line-height: 50px;
  border-radius: 0px;
  margin-bottom: 10px;
  text-align: center;
  background: var(--pw-orange);
  color: var(--pw-black);
  font-family: var(--pw-font-primary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--pw-font-size-secondary);
  transition: var(--pw-color-transition);
  cursor: pointer;
}

#main-menu a:hover {
  background: var(--pw-black);
  color: var(--pw-orange);
}
