@import 'Theme.css';

#marquee {
  position: relative;
  height: 140px;
  background: var(--pw-orange);
  white-space: nowrap;
  overflow: hidden;
  transition: background-color .3s;
  cursor: pointer;
}

.marquee-text {
  position: absolute;
  top: 50%;
  left: 100vw;
  font-family: 'Oswald';
  font-size: 90px;
  letter-spacing: -4px;
  color: var(--pw-black);
  text-transform: uppercase;
  margin: 0;
  transform: translateY(-50%);
  transition: color .7s;
}

#marquee:hover {
  background: var(--pw-black);
}

#marquee:hover .marquee-text {
  color: var(--pw-orange);
}
