@import 'Theme.css';

/* MenuSetsListItem */
.ellipsis {
  width: 20px;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.dropdown-menu {
  padding: 0px;
  border-radius: 0px;
  font-family: var(--pw-font-primary);
  font-size: var(--pw-font-size-tertiary);
  background: var(--pw-orange);
  border: none;
}

.dropdown-item {
  border-bottom: 1px solid var(--pw-black);
  transition: var(--pw-color-transition);
  line-height: 30px;
  text-transform: uppercase;
}

.dropdown-item:hover {
  background: var(--pw-black);
  color: var(--pw-orange);
}

#active-circle {
  width: 10px;
}
