@import "Theme.css";

#newsletter-sign-up {
  padding: 50px;
  background: var(--pw-white);
}

#newsletter-sign-up label {
  color: var(--pw-black);
  font-size: 32px;
}

#newsletter-sign-up h2 {
  color: var(--pw-black);
  font: var(--pw-font-secondary);
}

#mc_embed_signup {
  background: var(--pw-white);
  clear: left;
  font: 14px;
  width: 100%;
}

#mc-embedded-subscribe.button {
  text-transform: uppercase;
  color: var(--pw-black);
  font: 'Rajdhani';
  background: var(--pw-orange);
  border-radius: 0;
}

#mc-embedded-subscribe.button:hover {
  background: var(--pw-black);
  color: var(--pw-orange);
}
