@import 'Theme.css';

/* SearchBar */
#search-bar {
  margin: 0px 80px;
}

#search-bar form {;
  display: block;
  width: 100%;
  margin: 0px auto 80px auto;
  /* margin-left: 80px; */
}

#search-bar input {
  border: 1px var(--pw-white) solid;
  background: none;
  height: 40px;
  margin: 0px;
  color: var(--pw-white);
}

.input-group-text {
  height: 40px;
  margin: 0px;
}

#search-icon {
  height: 15px;
}
