@import 'Theme.css';

#staff-dashboard {
  background: var(--pw-black);
  overflow: hidden;
  min-height: 100vh;
  padding: 0px;
}

#staff-dashboard-nav {
  padding: 40px 60px;
}

#main-menu {
  background: var(--pw-black);
  padding: 0px 80px;
}

#main-menu ul {
  max-width: 400px;
  margin: auto;
}

#main-menu a {
  border: none;
  height: 50px;
  line-height: 50px;
  border-radius: 0px;
  margin-bottom: 10px;
  text-align: center;
  background: var(--pw-orange);
  color: var(--pw-black);
  font-family: var(--pw-font-primary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--pw-font-size-secondary);
  transition: var(--pw-color-transition);
  cursor: pointer;
}

#main-menu a:hover {
  background: var(--pw-black);
  color: var(--pw-orange);
}
