@import 'Theme.css';

/* StaffDashboard */
#staff-dashboard {
  position: relative;
  min-height: 100vh;
  background: var(--pw-black);
  overflow: hidden;
}

#dashboard-nav {
  position: relative;
  height: 50px;
  margin: 0px var(--pw-side-margin);
}

/* MainMenu */
#main-menu {
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  padding: 0px 10px;
}

#main-menu a {
  position: relative;
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 50px;
  background: var(--pw-orange);
  text-align: center;
  cursor: pointer;
  font-family: 'Oswald';
  font-size: 24px;
  line-height: 50px;
  font-weight: 600;
  color: #111111;
  text-transform: uppercase;
  transition: color .7s, background-color .3s;
}

#main-menu a:hover {
  background: var(--pw-black);
  color: var(--pw-orange);
}

.main-menu-button h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald';
  text-transform: uppercase;
  color: var(--pw-black);
  font-size: 22px;
  width: 100%;
}

#logout-button-staff-dashboard {
  position:absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

#back-button {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Rajdhani';
  color: var(--pw-white);
  text-transform: uppercase;
  z-index: 1;
}

@media (max-width: 400px) {
  #main-menu h1 {
    font-size: 46px;
    letter-spacing: 0px;
  }
}
