#login {
  min-height: calc(100vh - 50px);
  background: #e75e26;
}

#login h1 {
  color: #111111;
  font-size: 54px;
  margin-bottom: 20px;
}

#login div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Dashboard */
#dashboard {
  background: #111111;
}

#log-out-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 20px;
}
