#staff-dashboard {
  position: relative;
  min-height: 100vh;
  background: #111111;
  overflow: hidden;
}

#main-menu {
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-menu a {
  position: relative;
  display: block;
  width: 350px;
  height: 50px;
  background: #e75e26;
  text-align: center;
  margin: 10px 0px;
  cursor: pointer;
  font-family: 'Oswald';
  font-size: 24px;
  line-height: 50px;
  font-weight: 600;
  color: #111111;
  text-transform: uppercase;
  transition: color .7s, background-color .3s;
}

#main-menu a:hover {
  background: #111111;
  color: #e75e26;
}

.main-menu-button h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald';
  text-transform: uppercase;
  color: #111111;
  font-size: 22px;
  width: 100%;
}

input {
  color: white;
}

#logout-button-staff-dashboard {
  position: fixed;
  top: 80px;
  right: 40px;
  z-index: 10;
}
