#update-marquee-page {
  position: relative;
  margin-top: 80px;
  min-height: 100vh;
}

#update-marquee-page h2 {
  font-family: 'Oswald';
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

#update-marquee-module {
  width: 100vw;
}

#update-marquee-module input {
  display: block;
  margin: auto;
  width: 400px;
  height: 70px;
  border: none;
  color: #ededed;
  font-family: 'Oswald';
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  background: #111111;
  caret-color: #ededed;
  width: 100%;
}

#update-marquee-module button {
  display: block;
  visibility: hidden;
  margin: 20px auto;
}

#marquee-text-2 {
  margin: 0px;
}
